/* project-specific CSS belongs here */

.label-group {
  font-weight: bold;
}

.chart-column {
  /* stroke to make sure mouseovers work seamlessly */
  stroke-width: 1;
  stroke: transparent;
}

.column-germany {
  fill: var(--red-1);
}
.column-europe {
  fill: var(--blue-2);
}

.column-chart-label {
  font-weight: bold;
}

.axis .tick {
  font-size: 14px;
}

.stepper-text {
  flex: 1;
}
.stepper-tabs {
  margin-left: 0.5em;
}

.stepper-text {
  font-size: 14px;
}

.node-country-name {
  font-weight: bold;
}
.node-country-value {
  x : 0;
  y : 14;
}

.tooltip {
  padding: 2px 5px;
  pointer-events: none;
}
