/* project-specific CSS belongs here */

.label-group {
  font-weight: bold;
}

.chart-column {
  /*opacity : 0.8;*/
}

.column-germany {
  fill: var(--red-1);
}
.column-europe {
  fill: var(--blue-2);
}
