/* project-specific CSS belongs here */

.chart-column {
  opacity : 0.8;
}

.column-first {
  fill: var(--red-1);
}
.column-second {
  fill: var(--blue-2);
}
.column-third {
  fill : var(--green-1);
}
